#main {
    width: 800px;
    background-color: blueviolet;
}

.contener {
    position: relative;
    width: 750px;
    background-color: black;
}

.label {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 15px;
}

.h2 {
    position: absolute;
    left: 40px;
    top: -10px;
}

.h2_input {
    font-size: 150%;
    position: absolute;
    left: 40px;
    top: 10px;
    height: 20px;
}

.label:hover {
    background-color: azure;
}

.check {
    display: none;
}

.label-box {
    height: 45px;
    width: 750px;
    display: block;
    /* padding: 10px; */
    background-color: aqua;
    position: relative;
}

.content {
    border: 1px solid #333;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.mojisu-box {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.textarea {
    /* padding: 10 10px; */
    margin: 0;
    height: 0;
    width: 700px;
    transition: .5s;
    opacity: 0.3;
}

.add-contener {
    position: absolute;
    bottom: -12px;
    right: -30px;
    height: 25px;
    width: 25px;
    opacity: 0.3;
    transition: .5s;
    background-color: cadetblue;
    border-radius: 5px;
}

.add-contener:hover {
    display: block;
    background-color: cadetblue;
    opacity: 1;
}

.check:checked+.content {
    opacity: 1;
    height: 123px;
    visibility: visible;
}

.check:checked+.content>.textarea {
    padding: 10px;
    margin: 0;
    opacity: 1;
    height: 100px;
    visibility: visible;
    /* box-sizing: border-box; */
    /* ↑これを入れるとはみ出さない！ https://teratail.com/questions/323268*/
}